@inject AuthService AuthService
@inject NavigationManager Navigation

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizedRouteView RouteData="@routeData" />
    </Found>
    <NotFound>
        <PageTitle>Bulunamadı</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Üzgünüz, bu adreste bir sayfa bulunamadı.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    private void CheckAuth(RouteData routeData)
    {
        var currentPath = Navigation.ToBaseRelativePath(Navigation.Uri);
        
        // Login sayfasında değilse ve giriş yapmamışsa login'e yönlendir
        if (!currentPath.StartsWith("login") && !AuthService.IsAuthenticated)
        {
            Navigation.NavigateTo("/login", true);
        }
    }
}